/* styles.css */
body {
  font-family: 'Poppins', Arial, sans-serif; /* Use Poppins as the primary font */
  margin: 0;
  padding: 0;
  background-color: #1f1f1f; /* Dark background */
}

header {
  background: linear-gradient(to right, #00c6fb, #4cd7c0); /* Blue to even lighter green gradient */
  padding: 20px;
  color: white;
  text-align: center;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.section {
  padding: 50px 20px;
  color: white;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}
